<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="ml-3 mt-3">ユーザー</h3>
      </div>
    </div>
    <div class="row mt-3">
      <% @user.each do |user| %>
        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <%= image_tag user.get_image, size: "100x100", class: 'card-img-top img-responsive-overwrite mx-auto' %>
              <div class="card-body">
                <p class="card-text"><%= link_to user.name, user_user_path(user.id) %></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <item>
                     フォロー:<%= link_to user.followings.count, user_user_followings_path(user.id) %>
                     フォロワー:<%= link_to user.followers.count, user_user_followers_path(user.id) %>
                    </item>
                  </div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>