<div class="container">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <div style="background-image: url(<%= asset_path('yam0080-009.jpg') %>);
    background-size: cover; background-position: center; height:480px;" class="jumbotron">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">ようこそ</h1>
      <p class="lead font-weight-normal">
        JapanSympathyFunでは、<br>
        全国の観光スポットや<br>素敵な景色の写真を<br>
        ユーザー同士で共有することができます。
        </p>
      <%= link_to '今すぐ会員登録', new_user_registration_path, class: 'btn btn-secondary w-50'%>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
  </div>
</div>
