<div class='main'>
  <%# 商品一覧 %>
  <div class='item-contents'>
    <div class="item-container">
      <ul class='item-lists'>
        <% if @q.title_cont != nil %>
          <h3 class="subtitle"><%= "#{@q.title_cont} の検索結果" %></h3>
        <% else %>
          <h3 class="subtitle"><%= "検索結果" %></h3>
        <% end %>
        <% @items.each do |item| %>
        <%= image_tag item.get_image %>
        <%= link_to item.title, user_post_path(item.id) %>
        <% end %>
      </ul>
    </div>
  </div>
  <%# /商品一覧 %>
</div>