<h1>TOPページ</h1>
<% if @post %>
  <% @post.each do |post| %>
  <%= image_tag post.get_image, size: "180x180"%>
  <%= link_to post.title, user_post_path(post.id) %>
  <%= post.body %>
  <%= post.user.name %>
  <% end %>
<% else %>
<p>現在投稿はありません</p>
<% end %>
